@{
	ViewData["Title"] = "Chat";
}
@model SocialNetwork.ViewModels.Account.ChatViewModel;
<meta http-equiv="refresh" content="5">
<div>
	<button type="button"><a href="/MyPage">Назад</a></button>
</div>
<div>
	Чат @Model.You.FirstName и @Model.ToWhom.FirstName
</div>
<h5>сообщение</h5>
	@foreach(var item in Model.History)
	{
		if(item.SenderId!=null)
		{
		<div>
			@item.Sender: @item.Text
		</div>
		}
		else
		{
		<div>
			@item.Recipient: @item.Text
		</div>
		}
	}
<form asp-controller="AccountManager" asp-action="NewMessage" asp-route-id="@Model.ToWhom.Id" method="post">
	<div class="mrgn">
		
		<input asp-for="NewMessage.Text" class="form-control" />
	</div>
    <button type="submit" class="btn btn-sm btn-primary">
		Новое сообщение
    </button>
</form>