@{
	ViewData["Title"] = "Chat";
}
@model SocialNetwork.ViewModels.Account.ChatViewModel;
<meta http-equiv="refresh" content="10">
<div class="chat_wrap background-white">
	<div>
		<button type="button" class="btn btn-sm btn-primary"><a href="/MyPage">Назад</a></button>
	</div>
	<div class="name">
		Чат @Model.You.FirstName и @Model.ToWhom.FirstName
	</div>
	<div class="text_pad">
		<p class="gray_text text-size_12">Сообщение</p>
	</div>
	<div class="form-control background-white">
		@if (Model.History.Count != 0)
		{
			@foreach (var message in @Model.History)
			{
				<div>
					<label> @message.Sender.FirstName:</label>
					@message.Text
				</div>
			}
		}
		else
		{
			<div>
				<label> У вас пока нет сообщений с  @Model.ToWhom.GetFullName().</label>
			</div>
		}

	</div>
	<div class="text_pad">
		<p class="gray_text text-size_12 text_pad">Новое сообщение</p>
	</div>
	<form asp-controller="AccountManager" asp-action="NewMessage" asp-route-id="@Model.ToWhom.Id" method="post">
		<div class="mrgn">
			<input asp-for="NewMessage.Text" class="form-control" />
		</div>
		<button type="submit" class="btn btn-sm btn-primary">
			Отправить
		</button>
	</form>
</div>