﻿@using Microsoft.AspNetCore.Identity;
@using SocialNetwork.Data.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model SocialNetwork.ViewModels.Account.UserViewModel;
@{
	ViewData["Title"] = "User";
}
@if (SignInManager.IsSignedIn(User))
{

	<div class="user_page background-white">
		<h3 class="name">
			@Model.User.LastName @Model.User.FirstName
		</h3>
		<div class="user_win">
			<div>
		<img class="main-img" src="@Model.User.Image" />
			</div>
			<div>
			<form method="get" asp-controller="AccountManager" asp-action="Edit">
				<input class="enter_submit" type="submit" value="Редактировать" />
			</form>
			</div>
		</div>
		<div class="info_wind">
		<div class="user_info">
			<p class="gray_text">
				Статус:
			</p> @Model.User.Status
		</div>
		<div class="user_info">
			<p class="gray_text">
				Дата рождения:
			</p> @Model.User.BirthDate.ToShortDateString();
		</div>
		<div class="user_info">
			<p class="gray_text">
				О себе:
			</p> @Model.User.About
		</div>
		<div class="user_info">
			<p class="gray_text">
				Email:
			</p> @Model.User.Email
		</div>
		</div>
	</div>
	<div class="fr_block background-white">
		<label class="fr_list_text">Список друзей</label>
		@if (Model.Friends.Count != 0)
		{
			<div>
				@foreach (var user in @Model.Friends)
				{
					<div class="fr">
						<div class="mrgn center-align">
							<img src="@user.Image" class="ava" />
						</div>
						<div class="mrgn center-align">
							@user.GetFullName()
						</div>
						<div class="mrgn center-align">
							<form asp-controller="AccountManager" asp-action="Chat" asp-route-id="@user.Id" method="post">
								<button type="submit" class="btn btn-sm btn-primary min-width-but">
									Чат
								</button>
							</form>
						</div>
						<div class="mrgn center-align">
							<form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
								<button type="submit" class="btn btn-sm btn-primary">
									Удалить из друзей
								</button>
							</form>
						</div>
					</div>
				}
			</div>
		}
		else
		{
			<div>
				<label> У вас пока нет друзей.</label>
			</div>
		}
	</div>
}

